body {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    font-family: sans-serif;
    color: #fff;
    font-family: 'Comfortaa', cursive, sans-serif;
    max-width: 100vw;
}

header {
    background: #001122;
}

nav {
    display: flex;
    align-items: center;
}


img {
    width: 80px;
    margin-right: 5em;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 82px;
}

i {
    color: white;
    margin-right: 19px;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #771111;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 32px 66px;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive, sans-serif;
    cursor: pointer;
}

.menu {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    font-size: 120px;
    text-align: center;
}

.subtitle {
    font-size: 50px;

}